nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: 'Segoe UI';
}

.logo img{
    width: 150px;
    /* height: 25px; */
    /* background-color: yellow; */
}

.right ul{
    display: flex;
    gap: 2vw;
}

.right ul li{
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.parent-grid{
    display: grid;
    grid-template-columns: 3;
}

.box{
    background-color: gainsboro;
}

